body,
ul, 
li, 
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: sans-serif;
    list-style: none;
    color: #333;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFF;
}

h1 {
    color: #FFF;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    margin: 0;
    padding: 5px;
    max-width: 700px;;
}

h2 {
    text-align: center;
    margin: 50px 0 10px 0;
}

img {
    /* Máimo de 100% do container */
    max-width: 100%;
    /* display: block; */
    border-radius: 3px;
}


.header {
    background-color: #222;
    padding-top: 15px;
    /*Define o elemento como um container flex*/
    display: flex;
    /*Define a quebra de linha caso não haja espaço na mesma linha*/
    flex-wrap: wrap;
    /*Define a distribuição dos elementos (espaçamento lateral)*/
    justify-content: space-around;
}

.logo {
    /*Define uma largura base para o item-flex*/
    flex-basis: 180px;
    flex-grow: 0;
    flex-shrink: 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu li {
    margin-left: 5px;
}

.menu li a {
    display: block;
    padding: 10px;
    border-bottom: 3px solid #222;
}

.menu li a:hover {
    border-bottom: 3px solid #FF0000;
}


/* Banner Full */
.full-banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    padding: 0 30px;

    /*Define que é um container  flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galeria {
    margin: 0 auto;
    max-width: 1000px;
    /*Define o elemento como um container flex*/
    display: flex;
    /*Define a quebra de linha caso não haja espaço na mesma linha*/
    flex-wrap: wrap;
}

.galeria > div {
    margin: 10px;
    /*Propriedades dos itens-flex*/
    /*Define a largura base do item-flex*/
    flex-basis: 200px;
    /*Define se o item pode aumentar de tamanho ou não*/
    flex-grow: 1;
}


footer {
    background-color: #222;
    margin-top: 30px;
    padding: 30px 20px;
}

footer p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #999;
}
