/* ----------------------------------------------- */


/* Configurações Básicas */


/* ----------------------------------------------- */


/*Zerando bordas para ter maior domínio sobre os box*/

* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    min-width: 370px;
    /*Define a cor do fundo*/
    font-family: 'Readex Pro', sans-serif;
    /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
    font-weight: 300;
    /*de acordo com a fonte que importamos*/
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /*otimiza a renderização da fonte para letura, tendo uma melhor qualidade*/
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #ffffff;
    min-width: 370px;
}

.principal {
    width: 80%;
    margin: 0 auto;
}

ol,
ul {
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #fff;
}

a {
    text-decoration: none;
    color: #008556;
}

.white {
    color: #fff;
}

hr {
    border: 1px solid #c81a24;
    background-color: #c81a24;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fill {
    width: 100%;
    height: 100% !important;
}

.carousel-item img {
    position: relative;
    object-fit: cover;
    top: 0;
    left: 0;
}

.carousel-inner,
.carousel-item,
.carousel-item:active {
    height: auto;
}

.carousel-item:after,
.carousel-item:active {
    background-image: linear-gradient(to right, rgba(250, 0, 0, 0) 0px, rgba(250, 0, 0, 0) 100%);
    background-image: linear-gradient(to left, rgba(250, 0, 0, 0) 0px, rgba(250, 0, 0, 0) 100%);
    background-image: linear-gradient(to top, rgba(250, 0, 0, 0) 0px, rgba(250, 0, 0, 0) 100%);
    background-image: linear-gradient(to bottom, rgba(250, 0, 0, 0) 0px, rgba(250, 0, 0, 0) 100%);
}


/*Configurando minha linha do sistema de grid*/

.row {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1140px;
    margin: 0 auto 0 auto;
    height: auto;
}

header {
    height: 130px;
}


/* Modifica os icones ion */

ion-icon {
    font-size: 350%;
    /*Tamanho do ícone*/
    display: block;
    color: #008556;
    /*cor da fonte = cor do ícone*/
    margin-bottom: 10px;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    /*Centralizando o texto*/
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #c81a24;
    content: " ";
    /*Conteúdo do item*/
    width: 100px;
    /*Comprimento do item*/
    margin: 0 auto;
    /*Centralizar*/
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.box {
    padding: 1%;
    /*dá um pequeno espaçamento entre o conteúdo e o container.*/
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.section-features .long-copy {
    margin-bottom: 30px;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #000;
    height: 150px;
}

section {
    padding-bottom: 30px;
}

section:target {
    padding-top: 150px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    /*ocupa 70%, sobra 30%*/
    margin-left: 15%;
    /*15% para cada lado*/
}

input.radio {
    display: inline !important;
}

.logo {
    height: 125px;
    width: auto;
    float: left;
    margin-top: 20px;
    /*colocar um espaçamento acima da logo para baixar ela*/
}

#navbar {
    width: 100%;
}

.main-nav {
    /*Se livra dos bullets - bolinhas pretas - marcadores*/
    margin-top: 50px;
    /*colocar um espaçamento acima da lista para baixar ela*/
    z-index: 99999;
}

.main-nav li {
    list-style: none;
    margin-left: 40px;
    /*espaçamento entre os items da lista*/
}

.mob-nav {
    list-style-type: none;
}

.main-nav li a {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #c81a24;
}


/* Style the navbar */

#navbar {
    overflow: hidden;
    background-color: transparent;
    background-image: linear-gradient(rgb(0, 0, 0), transparent);
}


/* Navbar links */

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}


/* Page content */

.content {
    padding: 16px;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 60px;
}

.hidden {
    display: none;
}

.images-showcase {
    list-style: none;
    /*Retira marcadores*/
    width: 100%;
    /*a lista agora ocupa toda largura da tela*/
    display: flex;
    flex-wrap: wrap;
}

.images-showcase li {
    /*permite outros elementos ao lado*/
    /*Faz com que os elementos sejam colocados lado a lado*/
    width: 23%;
    /*cada item da lista terá 25% de largura em relação a tela... 100/4*/
    margin: 10px;
}

.photo {
    cursor: pointer;
}

.photo img {
    border-radius: 10px;
    transition-delay: 1s;
    transition: all 1s;
    width: 100%;
    transform: scale(0.9);
}

.photo img:hover {
    transform: scale(1);
    z-index: 5000;
}

.modal-body p,
h5,
h6 {
    color: #000;
    text-align: justify;
}

#planos div {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
}

#planos h3 {
    text-align: center;
}

.plans ion-icon {
    margin: auto;
}

.plans {
    border: 5px solid #008556;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 30%;
    flex-direction: column;
}

.plans h3 {
    margin-top: 20px;
    height: 50px;
}

.plans p {
    height: 150px;
}

.plans p {
    text-align: center;
}

.plans button {
    margin: auto;
}

.btn {
    background-color: #00579e;
    border-radius: 50px;
    height: 50px;
    width: 200px;
    outline: none;
    border: none;
    color: #ddd;
    max-width: 100%;
}

.btn:hover {
    background-color: #c81a24;
    transition: all 0.3s;
}

.btn:active {
    outline: 5px dashed rgb(30, 255, 0);
}

.btn:focus {
    outline: 5px dashed rgb(30, 255, 0);
    transition: all 0.3s;
}

#cardapio div {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#cardapio div figure {
    width: 20%;
    padding: 20px;
}

#cardapio div figure img {
    height: 120px;
    width: 120px;
    border-radius: 50px 15px;
}

.fig {
    padding-left: 0px;
    font-size: 25px;
}

#funcionamento {
    background-color: #000;
}

#formulario_contato {
    display: flex;
    flex-wrap: wrap;
}

#pcontato {
    text-align: center;
    margin: 50px;
    height: 100px;
}

#formulario_contato div {
    width: 30%;
    margin-left: 20px;
    padding: 10px;
}

#formulario_contato div {
    padding-bottom: 10px;
}

.lblform {
    width: 100%;
}

#formulario_contato div input {
    margin-bottom: 20px;
    max-width: 100%;
}

#formulario_contato div label {
    margin-bottom: 10px;
}

#formulario_contato div textarea {
    max-width: 100%;
}

#formulario_contato div input,
textarea {
    border-radius: 5px;
    box-shadow: inset 0 0 5px 5px rgb(211, 211, 211);
}

footer {
    display: flex;
    flex-wrap: wrap;
}

footer nav {
    width: 31%;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

footer div {
    width: 31%;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

footer nav ul {
    list-style: none;
}

footer nav a {
    width: max-content;
    padding: 5px;
}

.ion-icon-footer {
    width: 50px;
    height: 50px;
}


/* Style the navigation menu */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
}


/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
    display: none;
}


/* Style navigation menu links */

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}


/* Style the hamburger menu */

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


/* Add a grey background color on mouse-over */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Style the active link (or home/logo) */

.active {
    background-color: #008556;
    color: white;
}

#btnform {
    bottom: 0px;
}

#btnform2 {
    display: none;
}

#nav_sociais {
    flex-grow: 2;
    width: 80px;
}

#nav_sociais ul {
    list-style-type: none;
}

#nav-sociais a {
    width: fit-content;
}


/* CSS da parte Mobile */

@media screen and (max-width: 1800px) {
    .carosel {
        margin: auto;
    }
}

@media screen and (max-width: 1250px) {
    .images-showcase li {
        width: 30%;
    }
}

@media screen and (max-width: 1130px) {
    #cardapio div figure {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .principal {
        width: 95%;
    }
}

@media screen and (max-width: 935px) {
    .plans {
        width: 45%;
    }
    .plans p {
        text-align: center;
    }
    .advanced {
        flex-grow: 4;
        margin-right: 25px;
    }
}

@media screen and (max-width: 900px) {
    header {
        height: 180px;
    }
    #formulario_contato div {
        width: 47%;
    }
    #formulario_contato div input {
        max-width: 100%;
    }
    #btnform {
        display: none;
    }
    #btnform2 {
        display: block;
        margin-top: 25px;
    }
    footer nav {
        width: 30%;
    }
    .fb-page {
        flex-grow: 4;
    }
}

@media screen and (max-width: 700px) {
    h2 {
        font-size: 30px;
    }
    .principal {
        width: 100%;
    }
    header {
        margin-bottom: 10px;
        height: 60px;
    }
    .images-showcase li {
        width: 30%;
    }
    #navbar {
        display: none;
    }
    .topnav {
        display: block;
    }
    #cardapio div {
        padding: 30px;
    }
    #carosel {
        padding-top: 1500px;
    }
    .row article {
        padding: 20px;
        padding-left: 30px;
    }
    #formulario_contato {
        flex-direction: column;
    }
    #formulario_contato div {
        padding: 15px;
        width: 80%;
        margin: auto;
    }
    .input_form {
        width: 90%;
    }
    section:target {
        padding-top: 80px;
    }
}

@media screen and (max-width: 600px) {
    .images-showcase li {
        width: 29%;
    }
    .row {
        flex-direction: column;
    }
    .row article {
        width: 100%;
        margin: 0 auto;
    }
    footer div {
        width: 45%;
    }
    footer nav {
        width: 45%;
    }
}

@media screen and (max-width: 450px) {
    .images-showcase li {
        width: 300px;
        margin: auto;
    }
    #formulario_contato div {
        width: 100%;
    }
    .plans {
        width: 100%;
    }
}