/* ----------------------------------------------- */


/* Configurações Básicas */


/* ----------------------------------------------- */


/*Zerando bordas para ter maior domínio sobre os box*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    min-width: 400px;
    /*Define a cor do fundo*/
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
    font-weight: 300;
    /*de acordo com a fonte que importamos*/
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /*otimiza a renderização da fonte para letura, tendo uma melhor qualidade*/
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #ffffff;
}

.principal {
    width: 80%;
    margin: 0 auto;
}

ol,
ul {
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #fff;
}

.white {
    color: #fff;
}

hr {
    border: 1px solid #c81a24;
    background-color: #c81a24;
    color: #c81a24;
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel .carousel-item {
    height: 600px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 600px;
}

.carousel-item img::after {
    background-image: linear-gradient(to right, rgba(250, 0, 0, 0) 0px, rgba(250, 0, 0, 0) 100%);
    background-image: linear-gradient(to left, rgba(250, 0, 0, 0) 0px, rgba(250, 0, 0, 0) 100%);
    background-image: linear-gradient(to top, rgba(250, 0, 0, 0) 0px, rgba(250, 0, 0, 0) 100%);
    background-image: linear-gradient(to bottom, rgba(250, 0, 0, 0) 0px, rgba(250, 0, 0, 0) 100%);
}

#fullCarousel {
    position: absolute;
    width: 100%;
    top: 0;
}


/*Configurando minha linha do sistema de grid*/

.row {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

header {
    background-size: cover;
    background-position: center;
    height: 200px;
    background-attachment: fixed;
}


/* Modifica os icones ion */

ion-icon {
    font-size: 350%;
    /*Tamanho do ícone*/
    display: block;
    color: #008556;
    /*cor da fonte = cor do ícone*/
    margin-bottom: 10px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #00579e;
    border-color: #00579e;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    /*Centralizando o texto*/
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #c81a24;
    content: " ";
    /*Conteúdo do item*/
    width: 100px;
    /*Comprimento do item*/
    margin: 0 auto;
    /*Centralizar*/
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.box {
    padding: 1%;
    /*dá um pequeno espaçamento entre o conteúdo e o container.*/
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.section-features .long-copy {
    margin-bottom: 30px;
}

section {
    padding-bottom: 30px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    /*ocupa 70%, sobra 30%*/
    margin-left: 15%;
    /*15% para cada lado*/
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}

.btn-ghost {
    border: 1px solid #c81a24;
    color: #c81a24;
}

.btn-full {
    background-color: #c81a24;
    border: 1px solid #c81a24;
    color: #fff;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    /*a transição da cor do fundo, da borda e da fonte deve demorar 0.2 segundos*/
}

.btn-full:link,
.btn-full:visited {
    background-color: #c81a24;
    border: 1px solid #c81a24;
    color: #fff;
    margin-right: 15px;
    /*espaçamento entre os btões*/
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #c81a24;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #c81a24;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #c81a24;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #c81a24;
    color: #fff;
}

.logo {
    height: 125px;
    width: auto;
    float: left;
    margin-top: 20px;
    /*colocar um espaçamento acima da logo para baixar ela*/
}

.main-nav {
    float: right;
    list-style: none;
    /*Se livra dos bullets - bolinhas pretas - marcadores*/
    margin-top: 50px;
    /*colocar um espaçamento acima da lista para baixar ela*/
    z-index: 99999;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    /*espaçamento entre os items da lista*/
}

.main-nav li a {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #c81a24;
}


/* Style the navbar */

#navbar {
    overflow: hidden;
    background-color: transparent;
    z-index: 9;
    background-image: linear-gradient(rgb(0, 0, 0), transparent);
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
}


/* Navbar links */

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.carosel h2 {
    visibility: hidden;
}


/* Page content */

.content {
    padding: 16px;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 60px;
}

.hidden {
    display: none;
}

.images-showcase {
    list-style: none;
    /*Retira marcadores*/
    width: 100%;
    /*a lista agora ocupa toda largura da tela*/
    display: flex;
    flex-wrap: wrap;
}

.images-showcase li {
    /*permite outros elementos ao lado*/
    /*Faz com que os elementos sejam colocados lado a lado*/
    width: 25%;
    /*cada item da lista terá 25% de largura em relação a tela... 100/4*/
}

.photo {
    cursor: pointer;
}

.photo img {
    border-radius: 10px;
    transition-delay: 1s;
    transition: all 1s;
}

.photo img:hover {
    transform: scale(1.1);
    z-index: 5000;
}

.modal-body p,
h5,
h6 {
    color: #000;
    text-align: justify;
}

#planos div {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 30px;
    margin: 20px;
}

.plans {
    border: 5px solid #008556;
    border-radius: 10px;
    flex-direction: column;
}

#cardapio div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 350px;
}

#cardapio div figure {
    width: 50%;
    display: flex;
    margin: 10px;
}

#cadapio div figure figcaption {
    margin-left: 20px;
}

#cardapio div figure img {
    height: 80px;
    width: 100px;
    border-radius: 50px 15px;
}

#funcionamento {
    background-color: #000;
}

#formulario_contato {
    display: inline-flex;
    width: 32%;
}

#formulario_contato div {
    padding: 30px;
}

#formulario_contato div label {
    padding-bottom: 10px;
}

#formulario_contato div input {
    margin-bottom: 20px;
}

#formulario_contato div input,
textarea {
    border-radius: 5px;
    box-shadow: inset 0 0 5px 5px rgb(211, 211, 211);
}

footer {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

footer>div {
    width: 100%;
    border-radius: 5px;
    border: 5px solid rgb(255, 255, 255);
    margin-right: 10px;
}

.ion-icon-footer {
    width: 40px;
    height: 40px;
}


/* CSS da parte Mobile */


/* Style the navigation menu */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
}


/* Hide the links inside the navigation menu (except for logo/home) */


/* Style navigation menu links */

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}


/* Style the hamburger menu */

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    height: 200px;
    right: 0;
    top: 0;
}


/* Add a grey background color on mouse-over */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Style the active link (or home/logo) */

.active {
    background-color: #04AA6D;
    color: white;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

@media screen and (max-width: 1230px) {
    #contato form {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1000px) {
    .principal {
        width: 100%;
    }
}

@media screen and (max-width: 840px) {
    .logo {
        height: 80px;
    }
    .topnav {
        display: block;
    }
    .principal {
        width: 100%;
    }
    .row {
        display: none;
    }
    .header a {
        text-align: left;
    }
    .mob-nav {
        display: inline-flex;
    }
    .mob-nav li {
        list-style: none;
    }
    .header-right {
        float: none;
    }
    .images-showcase li {
        /*permite outros elementos ao lado*/
        /*Faz com que os elementos sejam colocados lado a lado*/
        width: 30%;
        /*cada item da lista terá 25% de largura em relação a tela... 100/4*/
    }
}

@media screen and (max-width: 800px) {
    #planos div {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    #contato form div {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}